@import 'partials/variables';
@import 'fontawesome/font-awesome';

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	//padding: 50px;
}
.page {
	margin: 0 auto;
	width: 1150px;
}
.wrapper {
	height: 100%;
	position: relative;
	width: 100%;
	header {
		-webkit-box-shadow: 0px 2px 10px 0px rgba(158,158,158,1);
		-moz-box-shadow: 0px 2px 10px 0px rgba(158,158,158,1);
		box-shadow: 0px 2px 10px 0px rgba(158,158,158,1);
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 50px;
		position: fixed;
		opacity: 0;
		width: 100%;
		z-index: 10000;
		@media screen and (max-width: 1150px) {
			padding: 50px 0;
			width: 100%;
		}
		div.branding {
			position: fixed;
			top: 8%;
			left: 10%;
			z-index: 10000;
			@media screen and (max-width: 414px) {
				top: 5%;
			}
			a {
				color: black;
				text-decoration: none;
				h1 {
					font-size: 24px;
					margin: 0;
					text-transform: uppercase;
				}
			}
		}
		.social {
			position: fixed;
			right: 13%;
			top: 8%;
			z-index: 10000;
			@media screen and (max-width: 414px) {
				display: none;
			}
			a {
				color: black;
				margin: 0 10px;
				&:hover {
					color: $brand-blue;
				}
			}
		}
		.menu-icon {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 22px;
			position: fixed;
			right: 10%;
			top: 8%;
			width: 22px;
			z-index: 5002;
			@media screen and (max-width: 414px) {
				top: 5%;
			}
			span {
				background-color: $black;
				height: 3px;
				position: absolute;
				top: 2px;
				width: 100%;
				z-index: 5000;
				&:nth-child(2) {
					top: 8px;
				}
				&:nth-child(3) {
					top: 14px;
				}
			}
			.move-left {
				margin-left: -5px;
				transition: margin-left .3s;
			}
			.move-right {
				margin-left: 5px;
				transition: margin-left .3s;
			}
			.rotate1 {
				margin-top: 5px;
				transform: rotate(45deg);
			}
			.rotate2 {
				display: none;
			}
			.rotate3 {
				margin-top: -8px;
				transform: rotate(-45deg);
			}
		}
		div#nav {
			align-content: center;
			background-color: rgba(0,0,0, 0.95);
			display: none;
			font-size: 14px;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 50001;
			.menu-icon {
				left: 270px;
				margin-bottom: 30px;
				position: relative;
			}
			ul.navigation {
				margin: 150px auto;
				padding: 0;
				align-self: center;
				width: 320px;
				li {
					list-style: none;
					margin-bottom: 20px;
					text-align: center;
					a {
						color: white;
						font-weight: bold;
						font-size: 36px;
						text-decoration: none;
						text-transform: uppercase;
						transition: color .5s;
						&:hover {
							color: $brand-blue;
						}
					}
				}
			}
		}
	}
	.fadeIn {
		opacity: 1 !important;
		transition: opacity 0.5s;
	}
	.fadeOut {
		opacity: 0;
		transition: opacity 0.5s;
	}
	footer {
		background-color: #292929;
		display: flex;
		color: white;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 200px;
		padding: 35px 50px;
		position: relative;
		z-index: 5000;
		@media screen and (max-width: 414px) {
			padding: 35px 20px;
		}
		.col {
			padding: 20px;
			width: calc(100%/4 - 50px);
			@media screen and (max-width: 414px) {
				margin: 5px 25px;
				padding: 0px;
				width: calc(100%/1 - 20px);
			}
			a {
				color: #666;
				text-decoration: none;
				&:hover {
					color: $brand-blue;
					text-decoration: none;
					transition: color 0.5s;
				}
			}
			h4 {
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			h5 {
				font-size: 12px;
				font-weight: 400;
				letter-spacing: 2px;
			}
			p {
				font-size: 12px;
				font-weight: 300;
				letter-spacing: 2px;
			}
		}
	}
	main {
		display: flex;
		flex-direction: column;
		#content {
			display: flex;
			flex-direction: column;
			width: 100%;
			z-index: 5000;
		}
		#hero {
			//background: url(../images/opl-big-9.jpg) no-repeat 50% 50%;
			background-size: cover;
			display: flex;
			align-items: center;
			position: fixed;
			width: $site-width;
			.overlay {
				background-color: rgba(255,255,255, 0.6);
				height: 100%;
				position: absolute;
				width: 100%;
				z-index: 1;
			}
			#intro {
				align-self: center;
				margin: 0 auto;
				text-align: center;
				z-index: 30;
				h3 {
					font-size: 100px;
					font-weight: 700;
					margin: 0;
				}
				.name {
					color: #79a1e3;
					font-size: 70px;
					font-weight: 400;
					letter-spacing: 10px;
					margin: 10px;
					text-transform: uppercase;
					@media screen and (max-width: 414px) {
						font-size: 45px;
						letter-spacing: 8px;
					}
					span {
						font-weight: 300;
					}
				}
				.occupation {
					font-weight: 400;
					letter-spacing: 2px;
				}
			}
			.social {
				position: fixed;
				right: 13%;
				top: 8%;
				z-index: 5000;
				a {
					color: black;
					margin: 0 10px;
					&:hover {
						color: $brand-blue;
					}
				}
			}
		}
		#about {
			background-color: rgb(248,248,248);
			padding: 90px 0;
			.col {
				padding: 10px 50px;
				width: 50%;
			}
			div#counter {
				display: flex;
				justify-content: center;
				p#count {
					font-size: 72px;
					font-weight: 700;
					margin: 0px;
					@media screen and (max-width: 414px) {
						font-size: 45px;
					}
				}
				p.years {
					color: #79a1e3;
					font-size: 45px;
					margin: 18px;
					text-transform: uppercase;
					@media screen and (max-width: 414px) {
						font-size: 25px;
						margin: 15px 5px;
					}
				}
			}
			p.copy {
				margin: 0;
				text-align: center;
			}
			.skills-bar {
				height: 300px;
				margin-top: 30px;
				width: 25%;
				svg {
					overflow: visible !important;
					line {
						stroke-width: 10;
						stroke: #fff;
						fill: none;
						-webkit-transition: -webkit-transform .8s ease-out;
						transition: transform .8s ease-out;
						transition-delay: .3s;
					}
				}
			}
			.skills-bar > svg line.html-empty,
			.skills-bar > svg line.css-empty,
			.skills-bar > svg line.js-empty,
			.skills-bar > svg line.python-empty,
			.skills-bar > svg line.php-empty,
			.skills-bar > svg line.mysql-empty {
				stroke: #EBE7E4;
			}
			.skills-bar > svg line.html,
			.skills-bar > svg line.css,
			.skills-bar > svg line.js,
			.skills-bar > svg line.python,
			.skills-bar > svg line.php,
			.skills-bar > svg line.mysql {
				stroke: $brand-blue;
				transform: translateX(-50px);
			}
		
		}
		#photography {
			background-color: white;
			min-height: 300px;
			h3 {
				font-size: 14px;
				letter-spacing: 2px;
				margin: 20px 0;
				text-align: center;
				text-transform: uppercase;
			}
			.photography-posts {
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				.post {
					flex-grow: 1;
					width: calc(100%/2);
				}	
			}
		}
		#work-item {
			margin-top: 150px;
			h1.title {
				letter-spacing: 2px;
				text-align: center;
				text-transform: uppercase;
			}
			#featured-image {
				height: 551px;
				margin: 0 auto;
				overflow: hidden;
				padding: 3.75em 5.3125em;
				img {
					width: 100%;
				}
			}
			.content {
				padding: 3.75em 5.3125em;
			}
		}
		#works {
			background-color: white;
			min-height: 300px;
			padding: 100px 30px;
			h3 {
				font-size: 14px;
				letter-spacing: 2px;
				margin: 20px 0;
				text-align: center;
				text-transform: uppercase;
			}
			.work-posts {
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				.post {
					cursor: pointer;
					flex-grow: 1;
					height: 198px;
					margin: 10px;
					position: relative;
					overflow: hidden;
					width: calc(100%/3 - 40px);
					@media screen and (max-width: 414px) {
						width: 100%;
					}
					a {
						display: block;
						height: 100%;
						width: 100%;
						&:hover > .overlay {
							opacity: 1;
							transition: opacity 0.5s;
						}
						&:hover > .title {
							bottom: 30px;
							opacity: 1;
							transition: bottom 0.5s, opacity 0.5s;
						}
						.title {
							color: white;
							font-weight: 500;
							bottom: 0;
							position: absolute;
							opacity: 0;
							text-align: center;
							width: 100%;
							z-index: 500;
						}
						.featured-image {
							overflow: hidden;
							width: 100%;
							img {
								width: 100%;
							}
						}
						.overlay {
							background-color: rgba(0, 0, 0, 0.8);
							height: 100%;
							position: absolute;
							opacity: 0;
							width: 100%;
						}
					}
				}
			}
			.grid {
				cursor: pointer;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				.grid-sizer, .grid-item {
					width: 30%;
				}
				.grid-item {
					border: 1px solid #000;
					height: 300px;
					margin: 10px 5px;
					opacity: 0;
					.name {
						position: relative;
						width: 100px;
					}
				}
			}
		}
	}
	.lightbox {
		background-color: white;
		display: none;
		height: 100%;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 500;
	}
}