@import 'partials/variables';

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	height: 100%;
	position: relative;
	width: 100%;
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 20px;
		width: 1150px;
		div.branding {
			h1 {
				margin: 0;
			}
		}
		#menu-icon {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 22px;
			position: relative;
			width: 22px;
			span {
				background-color: $black;
				height: 3px;
				position: absolute;
				top: 2px;
				width: 100%;
				&:nth-child(2) {
					top: 8px;
				}
				&:nth-child(3) {
					top: 14px;
				}
			}
			.rotate1 {
				margin-top: 5px;
				transform: rotate(45deg);
			}
			.rotate2 {
				display: none;
			}
			.rotate3 {
				margin-top: -8px;
				transform: rotate(-45deg);
			}
		}
		div.overlay {
			display: none;
			ul.navigation {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					margin-bottom: 10px;
					a {
						color: $black;
						font-size: 1.3rem;
						text-decoration: none;
						transition: color 2s;
						&:hover {
							color: $brand-blue;
						}
					}
				}
			}
		}
	}
	footer {
		bottom: 0;
		display: none;
		position: absolute;
	}
	main {
		display: flex;
		flex-direction: column;
		#hero {
			position: fixed;
			width: $site-width;
		}
	}
}