@import 'partials/variables';

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	height: 100%;
	position: relative;
	width: 100%;
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 20px;
		width: 1150px;
		div.branding {
			h1 {
				margin: 0;
			}
		}
		.menu-icon {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 22px;
			position: relative;
			width: 22px;
			span {
				background-color: $black;
				height: 3px;
				position: absolute;
				top: 2px;
				width: 100%;
				&:nth-child(2) {
					top: 8px;
				}
				&:nth-child(3) {
					top: 14px;
				}
			}
			.rotate1 {
				margin-top: 5px;
				transform: rotate(45deg);
			}
			.rotate2 {
				display: none;
			}
			.rotate3 {
				margin-top: -8px;
				transform: rotate(-45deg);
			}
		}
		div#nav {
			align-content: center;
			background-color: rgba(255,255,255, 1);
			font-size: 14px;
			height: 100%;
			padding: 20px 30px;
			position: fixed;
			top: 0;
			right: -320px;
			width: 290px;
			z-index: 500;
			.menu-icon {
				left: 270px;
				margin-bottom: 30px;
				position: relative;
			}
			ul.navigation {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					margin-bottom: 10px;
					a {
						color: #999;
						text-decoration: none;
						text-transform: uppercase;
						transition: color .5s;
						&:hover {
							color: $brand-blue;
						}
					}
				}
			}
		}
		.slideLeft {
			right: -320px !important;
			transition: right .5s;
		}
		.slideRight {
			right: 0 !important;
			transition: right .5s;
		}
	}
	footer {
		bottom: 0;
		display: none;
		position: absolute;
	}
	main {
		display: flex;
		flex-direction: column;
		#hero {
			position: fixed;
			width: $site-width;
		}
	}
}