section(id="about" class="container")
	div(id="counter")
		p(id="count") 0
		p(class="years") Years of experience...
	p(class="copy") Designing, developing, branding, and providing compelling imagery for brands small and large.
	p(class="copy") From creating illustrations for 
		i Macy's 
		|  and 
		i REA
		| , to building API's and high traffic web applications for 
		i CBS 
		| and 
		i Mediabistro
		| , my wide range of experiences, I feel has given me a unique perspective not possesed by many professionals in the design and tech industries. Currently I am a consultant at 
		a(href="http://www.lendkey.com/" target="_blank") Lendkey
		| , developing Wordpress applications for their local lending platform.
	p(class="copy") When I'm not working you can catch me either romping around my native land Brooklyn, NY or enjoying a latte at my favorite local cafe, 
		a(href="http://www.grindcoffeejc.com/" target="_blank") The Grind Shop
		| , in Jersey City.
	a(id="resume" href="resume.docx" download) Learn More