section(id="about" class="container")
	div(class="block")
		div(id="counter")
			p(id="count") 0
			p(class="years") Years of experience
		p(class="copy") Designing, developing, branding, and shooting for brands small and large.
		div(id="logos")
			div(class="logo")
				img(src="./public/images/logos/mb.png" alt="Mediabistro")
			div(class="logo")
				img(src="./public/images/logos/cbs.png" alt="CBS")
			div(class="logo")
				img(src="./public/images/logos/cancercare.png" alt="CancerCare")
			div(class="logo")
				img(src="./public/images/logos/recyclebank.png" alt="Recyclebank")
			div(class="logo")
				img(src="./public/images/logos/avon.png" alt="Avon")
			div(class="logo")
				img(src="./public/images/logos/queens.png" alt="Queensborough Community College")
			div(class="logo")
				img(src="./public/images/logos/macys.png" alt="Macys")
			div(class="logo")
				img(src="./public/images/logos/rea.png" alt="Real Estate Arts")