section(id="about" class="container")
	div(id="counter")
		p(id="count") 0
		p(class="years") Years of experience...
	p(class="copy") Designing, developing, branding, and providing compelling applications and imagery for brands small and large.
	p(class="copy") From creating illustrations for 
		i Macy's 
		|  and 
		i REA
		| , to building API's and high traffic web applications for 
		i CBS 
		| and 
		i Mediabistro
		| , my wide range of experiences, has given me a unique perspective not possesed by many professionals in the design and tech industries. 
	p(class="copy") Currently I am a consultant at 
		a(href="http://www.gopetplan.com/" target="_blank") Petplan Insurance, Inc.
		| , developing API's and web applications with Laravel and Angular JS, and creating websites in Drupal, to support marketing initiatives.
	p(class="copy") When I'm not head deep in tech, I am pursuing my photography career, in portraiture and fashion, or exploring galleries in search of artistic inspirations to elevate my own art.
	a(id="resume" href="resume.pdf" download) Learn More