section(id="about" class="container")
	div(class="block")
		div(id="counter")
			p(id="count") 0
			p(class="years") Years of experience
		p(class="copy") Crafting beautiful print and digital products for
		div(class="col")
		div(class="col")