footer
	div(class="col")
		div(class="social-icons")
		p(class="copyright") &copy; Alvin Grant 2017. 
		p(class="copyright") Site handcrafted with love, 
			a(href="https://github.com/agrant12/spa-portfolio" target="_blank") SPA Repo
	//div(class="col")
	//	h4 Latest Tweets
	//div(class="col")
	//	h4 Instagram