footer
	div(class="col")
		div(class="social-icons")
		p(class="copyright") &copy; Alvin Grant 2017.
	div(class="col" id="footer-post")
		h4 Recent Posts
	div(class="col")
		h4 Latest Tweets
	div(class="col")
		h4 Instagram