header
	div(class="branding") 
		h1 Alvin Grant
	div(class="menu-icon")
		span(class="line1")
		span(class="line2")
		span(class="line3")
	div(id="nav")
		ul(class="navigation")
			li
				a(href="#") About
			li
				a(href="#") Recent Works
			li
				a(href="#") Contact
			<hr />
				p 
					a(href="#") @agrantdesigns
			<hr />
			p
				a(href="#") Download Resume