header
	div(class="branding") 
		a(href="#")
			h1 Alvin Grant
	div(class="menu")
		div(class="social")
			a(href="#")
				i(class="fa fa-code-fork" aria-hidden="true")
			a(href="#")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="#")
				i(class="fa fa-linkedin-square" aria-hidden="true")
			a(href="#")
				i(class="fa fa-twitter" aria-hidden="true")
		div(class="menu-icon")
			span(class="line1")
			span(class="line2")
			span(class="line3")
			div(id="nav")
				ul(class="navigation")
					li
						a(href="#") About
					li
						a(href="#") Selected Works
					li
						a(href="#") Photography
					li
						a(href="#") Contact