header
	div(class="branding") 
		h1 Alvin Grant
	div(id="menu-icon")
		span(class="line1")
		span(class="line2")
		span(class="line3")
	div(class="overlay")
		ul(class="navigation")
			li
				a(href="#") About
			li
				a(href="#") Portfolio
			li
				a(href="#") Contact