header
	div(class="branding") 
		h1 Alvin Grant
	div(class="menu-icon")
		span(class="line1")
		span(class="line2")
		span(class="line3")
	div(id="nav")
		div(class="menu-icon")
			span(class="line1 rotate1")
			span(class="line2 rotate2")
			span(class="line3 rotate3")
		ul(class="navigation")
			li
				a(href="#") About
			li
				a(href="#") Portfolio
			li
				a(href="#") Contact
			<hr />
				p 
					a(href="#") @agrantdesigns
			<hr />