header
	div(class="branding") 
		a(href="/")
			h1 Alvin Grant
	div(class="menu")
		div(class="social")
			a(href="https://github.com/agrant12" target="_blank")
				i(class="fa fa-code-fork" aria-hidden="true")
			a(href="https://www.instagram.com/agrantphotos/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.linkedin.com/in/alvingrant/" target="_blank")
				i(class="fa fa-linkedin-square" aria-hidden="true")
			a(href="https://twitter.com/agrantdesigns" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
		//div(class="menu-icon")
		//	span(class="line1")
		//	span(class="line2")
		//	span(class="line3")
		//	div(id="nav")
		//		ul(class="navigation")
		//			li
		//				a(href="/about.html") About
		//			li
		//				a(href="/work.html") Selected Works
		//			li
		//				a(href="#" class="contact") Contact