section(id="hero")
	div(class="overlay")
	div(id="intro")
		p(class="name") 
			strong Alvin
			span Grant
		h5(class="occupation") Full Stack Web Developer<br />Digital Designer<br />&amp; Photographer