div(class="lightbox")
	include preloader.pug
	div(class="close")
		p x
	h3(class="title")
	div(class="accent")
	div(class="tags")
	div(class="content")
		p
	div(class="gallery")
div(class="body-overlay")
