div(class="lightbox")
	include preloader.pug
	div(class="close")
		p x
	h3(class="title")
	div(class="tags")
	div(class="featured-image")
		img(src="#")
	div(class="content")
		p
	div(class="gallery")
div(class="body-overlay")
