/*
*********************************************************
* 1: Colors
*********************************************************
*/

$white:				#ffffff;
$black:				#000000;

$brand-blue:		#79a1e3;
$secondary-blue:	#364661;

/*
*********************************************************
* 2: Structure
*********************************************************
*/

$site-width:		100%;