doctype html
html
	include partials/head.pug
	style
		include ../../public/css/app.min.css
	body
		div.wrapper
			include partials/header.pug
			include partials/footer.pug
			script
				include ../../public/js/app.min.js
			script
				include ../../public/js/google-analytics.js