doctype html
html
	include partials/head.pug
	body
		div.wrapper
			include partials/header.pug
			main
				section(id="content")
					h1 Photography
			include partials/footer.pug
			script(src='public/js/app.js', type='text/javascript')
			script(src='public/js/google-analytics.js', type='text/javascript')